#layersControl{  
              background-color: rgb(255,255,255);  
              border:1px solid #888888;  
              position:absolute;  
              z-index:999;  
              right:0px;  
              top:38px;  
              display:none;  
          }  
          #layersControlTitle{  
              font:bold 12px sans-serif;  
              background-color: #3bb5ff;  
              color:#ffffff;  
              height:30px;  
              line-height: 30px;  
          }  
          #layercontent{  
              height:250px;  
              width:360px;  
          }  
          #layerbox{  
              background: #fff;  
              z-index: 112;  
              border-radius: 1px;  
              box-shadow: 1px 2px 1px rgba(0,0,0,.15);  
              font-size: 12px;  
              line-height: 1.5;  
              color: #565656;  
              word-wrap: break-word;  
              font-family: Arial,sans-serif;  
          }  
          #layerbox_item{  
              font-size: 12px;  
              line-height: 1.5;  
              color: #565656;  
              word-wrap: break-word;  
          }  
          #layerbox_item .item, #layerbox_item .item span,#measureTool .item span{  
              display: inline-block;  
              vertical-align: middle;  /*内部图片的位置*/  
          }  
          #layerbox_item .item {  
              height: 16px;  
              padding: 0 6px;  
              border-right: 1px #e5e5e5 solid;  
              cursor: pointer;  
          }  
          #layerbox_item {  
              padding: 7px 0 12px;  
              background: #fff;  
          }  
          #layerbox_item .item .icon {          
              width: 16px;  
              height: 16px;  
              margin-right: 5px;  
          }  
          #layerbox_item .layercontrol .icon {  
               background-image: url('../../images/station/fubiao_yellow.png');  
               background-repeat:no-repeat;  
               background-size:16px;  
          }  
          .layersControl-closer {  
              text-decoration: none;  
              position: absolute;  
              top: 2px;  
              right: 8px;  
              font:bold 12px sans-serif;  
              line-height: 25px;  
          }  
          .layersControl-closer:after {  
              content: "✖";  
          }  